#!/usr/bin/env sandbash

# sandbin installation directory
export SANDBIN_HOME={{sandbinhome}}

# export sandbin paths
export PATH=$SANDBIN_HOME/scripts/launcher:$SANDBIN_HOME/scripts:$SANDBIN_HOME/scripts/git:$PATH
