##
##                                              oooo oooo       o88
##     oooooooo8    ooooooo   oo oooooo    ooooo888   888ooooo  oooo  oo oooooo
##    888ooooooo    ooooo888   888   888 888    888   888    888 888   888   888
##            888 888    888   888   888 888    888   888    888 888   888   888
##    88oooooo88   88ooo88 8o o888o o888o  88ooo888o o888ooo88  o888o o888o o888o
##

# sandbin installation directory
export SANDBIN_HOME={{sandbinhome}}
