#!/usr/bin/env sandbash

# sandbin installation directory
export SANDBIN_HOME={{sandbinhome}}

# export sandbin paths
source "$SANDBIN_HOME/dotfiles/.paths"

# source dotfiles
source "$SANDBIN_HOME/dotfiles/.functions"
